.table-menu{
	height:160px;
	width:340px;
	float:left;
	border-radius:80px;
	box-shadow:3px 3px 10px #bcbdc0;
	background:-webkit-linear-gradient(#ffffff,#c5c5c6);
	background:-o-linear-gradient(#ffffff,#c5c5c6);
	background:-moz-linear-gradient(#ffffff,#c5c5c6);
	background:linear-gradient(#ffffff,#c5c5c6);
	margin: 20px 20px;
}
.table-menu .table-on,.table-menu .table-off{
	height:140px;
	width:200px;
	margin-left:20px;
	margin-top:10px;
	float:left;
	border-radius:70px;
	background:#ece54f;
	box-shadow:5px 5px 30px #a39e38 inset;
}
.table-menu h1{
	text-align:center;
	font-size:40px;
	line-height:120px;
}
.table-menu h3{
	margin-left:240px;
	margin-top:50px;
	font-size:30px;
	font-weight:normal;
}
.table-menu h4{
	color:#e65445;
	margin-left: 230px;
	margin-top:20px;
	font-size:22px;
	font-weight:normal;
	cursor:pointer;
}
.table-menu .table-off{
	background:#e6e6e6;
	box-shadow:5px 5px 30px #a8a8a8 inset;
}
.ibox-title{
	text-align: center;
	border: none;
}
.ibox-title h5{
	float: none;
}
.waiting{
	background-color: #fbe6a4;
}
.ing{
	background-color: #91d08f;
}
.max_a{
	background-image:url(../images/sort_3.png);
	width:11px;
	height:12px;
	margin-right:5px;
	background-color:transparent;
	display:block;
	float:left;
	border:none;
	text-decoration:none;
	margin-top:5px;
}
.max_a:focus, .max_a:hover,.max_a:active {
	text-decoration:none;
	border:none;
	background-image:url(../images/sort_3_1.png);
}
.shang_a{
	background-image:url(../images/sort_1.png);
	width:11px;
	height:12px;
	margin-right:5px;
	background-color:transparent;
	display:block;
	float:left;
	border:none;
	text-decoration:none;
	margin-top:5px;
}
.shang_a:focus, .shang_a:hover,.shang_a:active {
	text-decoration:none;
	border:none;
	background-image:url(../images/sort_1_1.png);
}
.xia_a{
	background-image:url(../images/sort_2.png);
	width:11px;
	height:12px;
	margin-right:5px;
	background-color:transparent;
	display:block;
	float:left;
	border:none;
	text-decoration:none;
	margin-top:5px;
}
.xia_a:focus, .xia_a:hover,.xia_a:active {
	text-decoration:none;
	border:none;
	background-image:url(../images/sort_2_1.png);
}
.min_a{
	background-image:url(../images/sort_4.png);
	width:11px;
	height:12px;
	margin-right:5px;
	background-color:transparent;
	display:block;
	float:left;
	border:none;
	text-decoration:none;
	margin-top:5px;
}
.min_a:focus, .min_a:hover,.min_a:active {
	text-decoration:none;
	border:none;
	background-image:url(../images/sort_4_1.png);
}

#myModal5 .modal-body .do-time{
	width: 340px;
	height: 100%;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
#myModal5 .modal-body h4{
	width: 90px;
	padding: 20px;

}
#myModal5 .modal-body .do-part{
	padding: 20px;
	width: 220px;
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}
#myModal5 .modal-body .do-time .do-part,#myModal5 .modal-body .do-time h4{
	float: left;
}